---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

{% comment %}
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

{% endcomment %}

<figure>
<img src="https://ruizhanghost1990.github.io/images/themes/Picture1.png" alt="Rapid tool for non-linear analysis in LimitState:GEO." width="300">
<figcaption>Figure1. Rapid tool for non-linear analysis in LimitState:GEO.</figcaption>
</figure>

<br> 

<figure>
<img src="https://ruizhanghost1990.github.io/images/themes/Picture2.png" alt="blockProblem" width="100">
<figcaption>Figure2. DLO analysis for non-associative toppling-sliding rock slope failure.</figcaption>
</figure>
