---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

{% comment %}
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

{% endcomment %}

<figure>
<img src="https://ruizhanghost1990.github.io/images/themes/SmartConstruction.png" alt="Rui Zhang is appointed as Member of Youth Editorial Board of Smart Construction, Congratulations!" width="300">
<figcaption> Rui Zhang is appointed as Member of Youth Editorial Board of Smart Construction, Congratulations!.</figcaption>
</figure>

<br> 

<figure>
<img src="https://ruizhanghost1990.github.io/images/themes/HEA.png" alt="blockProblem" width="100">
<figcaption> Rui Zhang has achieved the status of Associate Fellow of Higher Education Academy, Congratulations!</figcaption>
</figure>
