---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="https://scholar.google.com/citations?view_op=list_works&hl=en&hl=en&user=Scj7IQkAAAAJ">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% comment %}
<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
{% endcomment %}

<h2>Selected Journal Papers</h2>
<hr />
<ul>
  <li>Zhang, R., & Smith, C. C. (2020). Upper-bound limit analysis of soils with a nonlinear failure criterion. Canadian Geotechnical Journal, 57(3), 423-432.</li>
</ul>

<ul>
  <li>Gong, C., Guo, S., Zhang, R., & Frangopol, D. M. (2024). Prediction of burst pressure of corroded thin-walled pipeline elbows subjected to internal pressure. Thin-Walled Structures, 199, 111861.</li>
</ul>

<ul>
  <li>Zhang, R., Yussif, A. M., Tijani, I., Fares, A., Tariq, S., & Zayed, T. (2024). Acoustic localization approach for urban water distribution networks using machine learning method. Engineering Applications of Artificial Intelligence, 137, 109062.</li>
</ul>

<ul>
  <li>Zhang, R., Sheng, X., & Fan, W. (2024). Probabilistic assessment of seismic earth pressure against backfills with a nonlinear failure criterion. Soil Dynamics and Earthquake Engineering, 177, 108341.</li>
</ul>

<ul>
  <li>Chang, X., Zhang, R., Mao, J., & Fu, Y. (2024). Digital Twins in Transportation Infrastructure: An Investigation of the Key Enabling Technologies, Applications, and Challenges. IEEE Transactions on Intelligent Transportation Systems.</li>
</ul>




