---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% comment %}
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
{% endcomment %}

<h2>Teaching Experience</h2>
<hr />

<h3>2021 - 2025 Supervisor for students in different research projects and delivering lectures in Aalto University. </h3>
<ul>
  <li>Delivered lectures for geotechnical engineering GEO-E2080 and geomechanics in Aalto University.</li>
  <li>Co-Supervised doctoral student in research project for data analysis from Indoor Positioning System and BIM modeling in Aalto University.</li>
  <li>Guided doctoral students to publish research outputs in the project and prepare QE. Supervised undergraduates with their  <strong>UREC research projects on ‘Digital Twin of Physical Tunnels’</strong> at Nanyang Technological University.</li>
  <li>Supervised master student and teaching assistant for collecting signals from sensors and adopting AI technique to solve the leak localization problem in the Hong Kong Polytechnic University.</li>
</ul>

<h3>2016 - 2020 Tutor in Civil Engineering Lectures, University of Sheffield</h3>
<ul>
  <li>Tutored undergraduate courses: <strong>CIV 6505, CIV 350, CIV 2500, CIV 1900</strong>, covering topics such as geomechanics, geotechnical engineering, geotechnical design, constitutive modeling, and MATLAB programming.</li>
  <li>Conducted <strong>over 50 hours of fieldwork</strong> at Rother Valley Country Park, helping students analyze digital geology maps and prepare for site visits.</li>
  <li>Guided undergraduate students in various projects, including:
    <ul>
      <li><strong>Footing Project</strong> (Triaxial Lab)</li>
      <li><strong>Embankment Project</strong> (Oedometer Lab)</li>
      <li><strong>Retaining Wall Project</strong> (Direct Shear Test)</li>
    </ul>
  </li>
</ul>

<h3>2016 - 2020 GTA in Geotechnical Engineering Lab, Chemical & Biological Engineering in Combustion Lab, Electronics & Control Lab, Fluids Lab , University of Sheffield</h3>
<ul>
  <li>Assisted master's students in data analysis and writing technical report to determine thermal efficiency of a gas fired boiler and investigate the bomb calorimeter.</li>
  <li>Helped undergraduate to investigate some basic ideas about transformers and provide more experience in the use of experimental equipment in an electronic system environment. Helped undergraduate to be familiar with LabVIEW programming and data acquisition.</li>
  <li>Guided undergraduate to finish the operation of a venture meter and determine the friction factor in pipe.</li>
</ul>

<h2>My teaching video on YouTube</h2>
<p>You can watch my teaching video on my <a href="https://www.youtube.com/@RuiZhang-kh6rl" target="_blank">YouTube channel</a>.</p>
