---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% comment %}
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
{% endcomment %}

<h2>Teaching Experience</h2>
<hr />

<h3>2021 - 2025 Supervisor & Lecturer, Aalto University</h3>
<ul>
  <li>Delivered lectures for <strong>geotechnical engineering GEO-E2080</strong> and geomechanics.</li>
  <li>Co-supervised a doctoral student in a research project on data analysis from Indoor Positioning Systems and BIM modeling.</li>
  <li>Guided doctoral students to publish research outputs, prepare for QE, and supervised undergraduates in their <strong>UREC research projects on ‘Digital Twin of Physical Tunnels’</strong> at Nanyang Technological University.</li>
  <li>Supervised a master's student and served as a teaching assistant in a project involving sensor data collection and AI techniques for leak localization at <strong>The Hong Kong Polytechnic University</strong>.</li>
</ul>

<h3>2016 - 2020 Tutor in Civil Engineering, University of Sheffield</h3>
<ul>
  <li>Tutored undergraduate courses: <strong>CIV 6505, CIV 350, CIV 2500, CIV 1900</strong>, covering topics such as geomechanics, geotechnical engineering, geotechnical design, constitutive modeling, and MATLAB programming.</li>
  <li>Conducted <strong>over 50 hours of fieldwork</strong> at Rother Valley Country Park, helping students analyze digital geology maps and prepare for site visits.</li>
  <li>Guided undergraduate students in various projects, including:
    <ul>
      <li><strong>Footing Project</strong> (Triaxial Lab)</li>
      <li><strong>Embankment Project</strong> (Oedometer Lab)</li>
      <li><strong>Retaining Wall Project</strong> (Direct Shear Test)</li>
    </ul>
  </li>
</ul>

<h3>2016 - 2020 GTA in Geotechnical & Engineering Labs, University of Sheffield</h3>
<ul>
  <li>Assisted master's students in data analysis and report writing on <strong>thermal efficiency of a gas-fired boiler</strong> and bomb calorimeter experiments.</li>
  <li>Helped undergraduate students understand transformers and gain experience with experimental equipment in an <strong>electronics system environment</strong>, including LabVIEW programming and data acquisition.</li>
  <li>Guided students in operating a <strong>venturi meter</strong> and determining the friction factor in pipes.</li>
</ul>
